.tape__entry {
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.tape__entry .mdc-text-field__input {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.tape__entry.tape__entry--collapsed {
  height: 0;
}
