.keypad-ops {
  grid-template-rows: repeat(5, 20%);
}

@media (max-width: 599px) {
  .keypad-ops__symbol-\= {
    display: none;
  }
}

@media (min-width: 600px) {
  .keypad-ops {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .keypad-ops__symbol-C {
    grid-row: 1;
    grid-column: 2;
  }

  .keypad-ops__symbol-× {
    grid-row: 2;
  }

  .keypad-ops__symbol-− {
    grid-row: 3;
  }

  .keypad-ops__symbol-\+ {
    grid-row: 4;
  }

  .keypad-ops__symbol-\= {
    grid-row: 4;
    grid-column: 2;
  }
}
