@import "~preact-material-components/Theme/style.css";
@import "~preact-material-components/Button/style.css";
@import "~preact-material-components/Drawer/style.css";
@import "~preact-material-components/TopAppBar/style.css";
@import "~preact-material-components/List/style.css";
@import "~preact-material-components/TextField/style.css";
@import "~preact-material-components/Fab/style.css";
@import "~@material/ripple/dist/mdc.ripple.css";

@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

/*
https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=4DD0E1
*/

:root {
  --mdc-theme-primary: #4dd0e1;
  --mdc-theme-on-primary: black;
  --mdc-theme-text-primary-on-background: #009faf;
}

body {
  font-family: "Noto Sans", "Noto Sans Display", Roboto, Arial, sans-serif;
}

.mdc-top-app-bar {
  color: black;
}

/* purgecss end ignore */

.debug1 {
  @apply bg-blue-400;
  outline: 1px solid navy;
}

.debug2 {
  @apply bg-green-400;
  outline: 1px solid limegreen;
}

.debug3 {
  @apply bg-red-400;
  outline: 1px solid darkred;
}
